*{
    margin: 0;
    padding: 0;
}


body{
    background:linear-gradient(  rgb(255, 0, 0),rgb(46, 1, 1));
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

.cronometro{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;

   
    min-width: 300px;
        box-shadow: 0 5px 8px rgb(0 0 0);
    border-radius: 2em;
}
.cronometro #tempo{
    color: whitesmoke;
    font-size: 3em;
    padding: 5px;
}
.cronometro #buttons{
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.cronometro #buttons button{
    color: whitesmoke;
    background-color: rgb(16, 0, 0);
    border: none;
    padding: 15px 25px;

    margin:5px 10px ;
    border-radius: 0.6em;
}
.cronometro #buttons button:hover{
    color: whitesmoke;
    background-color: rgb(16, 0, 0);
    border: none;
    padding: 16px 26px;

    margin: 4px 9px ;
    border-radius: 0.6em;
}

